*
!.gitignore
!.zshrc
!sshkeys/*
!sshkeys
!.vimrc
!.vim
!.vim/*
!.fzf*
!.vim/**
!.configFiles/**
!.configFiles
!.scripts
!.scripts/**
!.vars
!.kube
.kube/config
!.kube/configs
!wallpapers
!wallpapers/**
!.oh-my-zsh
!.oh-my-zsh/**
